@font-face {
  font-family: "Jakarta-Sans-ExtraBold";
  src: url(./assets/font/static/PlusJakartaSans-ExtraBold.ttf);
}

.wrapperApp {
  width: fit-content;
}

.wrapperComponent {
  padding: 0 1.5em !important;
}

.titlePlan {
  margin-bottom: 2.5em;
  font-family: "Jakarta-Sans-ExtraBold";
}
