.wrapperApp {
  width: fit-content;
}

.wrapperComponent {
  padding: 0 1.5em !important;
}
/* 
@media screen and (min-width: 768px) {
  .wrapperComponent {
    width: 50em;
  }
} */

.titlePlan {
  margin-bottom: 2.5em;
}
